<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>


  <appSettings>
    <add key="SmtpConfig" value="/Config/SmtpConfig.xml" />
    <add key="OAuthWebServices" value="http://api.skyworthdigital.com/JosonServices.svc" />
    <add key="OAuthWebService" value="http://api.skyworthdigital.com/JosonService.svc" />
  </appSettings>
  
  <connectionStrings>
    <add name="JosonSenparcEntities" connectionString="metadata=res://*/QuartzModel.csdl|res://*/QuartzModel.ssdl|res://*/QuartzModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=14.152.92.93;initial catalog=JosonSenparc;persist security info=True;user id=sa;password=Joson080256;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="JosonSenparcEntities" connectionString="metadata=res://*/QuartzModel.csdl|res://*/QuartzModel.ssdl|res://*/QuartzModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.8.248;initial catalog=JosonSenparc;persist security info=True;user id=sa;password=abc.123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>





</configuration>