@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Joson</title>
</head>
<body>
    <div>
  
        @{
           @Html.Raw(ViewBag.Data)
         }
    </div>
</body>
</html>
