<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!-- -->
  <appSettings>
    <add key="ConStringEncrypt" value="false" />
    <add key="ConnectionString" value="server=192.168.8.248,1433;database=HR_Digital;uid=sa;pwd=abc.1234" />
    <add key="SmtpConfig" value="/Config/SmtpConfig.xml" />
  </appSettings>
  <connectionStrings>

    <add name="APPConnectionString" connectionString="server=.\SQLEXPRESS; user=sa;pwd=sa;database=Publics" providerName="System.Data.SqlClient" />
    <add name="WebConnectionString" connectionString="server=.,1049;database=test;uid=sa;pwd=sa" providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="server=192.168.8.248,1433;database=HR_Digital;uid=sa;pwd=abc.1234" providerName="System.Data.SqlClient" />
    <!--<add name="JosonSenparcEntities" connectionString="metadata=res://*/QuartzModel.csdl|res://*/QuartzModel.ssdl|res://*/QuartzModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.8.248;initial catalog=JosonSenparc;persist security info=True;user id=sa;password=abc.123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>

  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>