<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IJosonServices" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.skyworthdigital.com/JosonServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJosonServices"
                contract="IJosonServices" name="BasicHttpBinding_IJosonServices" />
        </client>
    </system.serviceModel>
</configuration>